
<div class="span3 offset3 boxy text-center">
	
	<h1 class=h1-custom> Welcome to Hogwarts Notes! </h1>

	<br/>

	<h2>Start sharing your notes here</h2>

	<br/>

	<h3>Login here</h3>

	<br/>
	<br/>
	

	<%= link_to '#' %>
</div>