
<div class="span6 offset3 text-center">
	
	<h1>Welcome to Hogwarts Notes!</h1>

	<br/>

	<h2>Start sharing your notes now</h2>

	<br/>

	<h3>Login here</h3>

	<br/>
	<br/>
	

	<%= link_to '#' %>
</div>