
	
	<h1 class=h1-custom> Key TakeAways for Class </h1>

	<br/>

	<h2>Online Economy Takeaways!</h2>

	<h4> Lets all learn together </h4>

	<br/>
	<br/>

	<h3>Ebay</h3>
	
	<hr/>

	<h2>
		Always sell if you are offered 3B
	</h2>

	<br/>


	<p>
	<img src='http://www.likeable.com/blog/wp-content/uploads/2013/09/f99109d38ff0884216cee667e77dc50e.png'>


		The best thing I've ever learned is to always sell snap chat.

		And then snap chat it.
	</p>

	<br/>

	<br/>
	<br/>	

	<hr/>

	<h2>
		Snapchat guys are stupid
	</h2>

	<br/>

	<p>
		Anthony Weiner needs snap chats

	</p>

	<br/>





	<br/>
	

	<%= link_to '#' %>

