<div class="span3 offset3 boxy text-center">
	
	<h1 class=h1-custom> Key TakeAways for Class </h1>

	<br/>

	<h2>Start sharing your notes here</h2>

	<br/>


	<br/>
	<br/>
	

	<%= link_to '#' %>
</div>